 body {
     font-family: Arial, sans-serif;
     background-image: url("..//img/test.jpg");
     display: flex;
     flex-direction: column;
     align-items: center;
     min-height: 100vh;
     scroll-behavior: smooth;
     margin: 0;
     padding: 0;
 }



 .top-bar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 70px;
     background: linear-gradient(to right, #0069d9, #48c6ef);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
     z-index: 1000;
     box-sizing: border-box;
 }

 .top-bar img {
     height: 50px;
     width: 50px;
     margin-right: 10px;
 }

 .top-bar h1 {
     font-size: 2.5rem;
     margin: 0;
     letter-spacing: 3px;
     font-weight: bold;
     color: #fff;
 }

 .container {
     padding: 30px;
     box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     background-image: linear-gradient(to bottom, #85FFBD, #FFFB7D);
     max-width: 90%;
     margin: 150px auto 200px auto;

     text-align: center;
     box-sizing: border-box;
 }

 h1 {
     margin-bottom: 20px;
 }

 input[type="text"] {
     width: calc(100% - 40px);
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid skyblue;
     border-radius: 40px;
     box-sizing: border-box;
 }

 button {
     padding: 10px 20px;
     background-color: #007bff;
     color: white;
     border: none;
     border-radius: 40px;
     margin-bottom: 20px;
     cursor: pointer;
 }

 button:hover {
     background-color: #0783ff;
 }

 ul {
     list-style-type: none;
     padding: 0;
     perspective: 1000px;
 }

 li {
     padding: 10px;
     border-bottom: 1px solid #00a8f6;
     display: flex;
     font-family: Comic Sans MS;
     margin-bottom: 10px;
     font-size: larger;
     align-items: center;
     background-image: linear-gradient(to right, #f6ff00, #ffcc00);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 li:last-child {
     border-bottom: none;
 }

 li:hover {
     transform: rotateY(-15deg);
     box-shadow: 0 0 30px rgb(97, 226, 149);
 }

 .task {
     flex-grow: 1;
 }

 .delete-btn {
     background-color: greenyellow;
     color: black;
     border: none;
     text-align: center;
     font-size: medium;
     font-family: cursive;
     font-weight: 600;
     padding: 5px 10px;
     border-radius: 50px;
     cursor: pointer;
 }

 .delete-btn:hover {
     background-color: green;
 }

 .footer {
     background-color: rgba(97, 255, 168, 0.864);
     color: black;
     font-family: cursive;
     font-size: large;
     font-weight: bold;
     bottom: 0;
     position: fixed;
     text-align: center;
     padding: 1rem;
     width: 100%;
 }

 @media (max-width: 768px) {
     .top-bar h1 {
         font-size: 2.2rem;
     }

     .top-bar img {
         height: 40px;
         width: 40px;
     }

     .container {
         padding: 20px;
         margin: 120px auto 30px auto;
     }

     input[type="text"] {
         padding: 8px;
         margin-bottom: 8px;
     }

     button {
         padding: 8px 16px;
     }

     li {
         padding: 8px;
         font-size: medium;
     }
 }

 @media (max-width: 1024px) {
     .top-bar h1 {
         font-size: 2.2rem;
     }

     .top-bar img {
         height: 40px;
         width: 10px;
     }

     .container {
         padding: 20px;
         margin: 180px auto 30px auto;
     }

     input[type="text"] {
         padding: 8px;
         margin-bottom: 8px;
     }

     button {
         padding: 8px 16px;
     }

     li {
         padding: 8px;
         font-size: medium;
     }
 }

 @media (max-width: 480px) {
     .top-bar h1 {
         font-size: 1.5rem;
     }

     .top-bar img {
         height: 30px;
         width: 30px;
     }

     .container {
         padding: 15px;
         margin: 120px auto 20px auto;
         margin-top: 40px;
     }

     input[type="text"] {
         padding: 6px;
         margin-bottom: 6px;
     }

     button {
         padding: 6px 12px;
     }

     li {
         padding: 6px;
         font-size: small;
     }
 }