body {
    font-family: Arial, sans-serif;
    background-image: url("../img/test.jpg");
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    scroll-behavior: smooth;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, #0069d9, #48c6ef);
    /* Modern gradient */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1000;

}

.top-bar img {
    height: 90px;
    width: 90px;
    margin-right: 10px;
}

.top-bar h1 {
    font-size: 50px;
    margin: 50px;
    font-weight: bold;
    color: #fff;

}

.container {
    padding: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to bottom, #85FFBD, #FFFB7D);
    max-width: 400px;
    margin: 0 auto;
    /* Center it horizontally */
    text-align: center;
    margin-top: 200px;

    margin-bottom: 50px;
}


h1 {
    margin-bottom: 20px;

}


input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: 10px solid skyblue;
    border-radius: 40px;

}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background-color: #0783ff;
}

ul {
    list-style-type: none;
    padding: 0;
    perspective: 1000px;

    /* Add perspective to create a 3D effect */
}

li {
    padding: 10px;
    border-bottom: 1px solid #00a8f6;
    display: flex;
    font-family: comic sans MS;
    margin-bottom: 10px;
    font-size: x-large;
    align-items: center;
    /* Add a 3D rotation effect */
    background-image: linear-gradient(to right, #f6ff00, #ffcc00);
    /* Add a gradient background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow effect */
}

li:last-child {
    border-bottom: none;
}

li:hover {
    transform: rotateY(5deg);

    /* Increase the rotation effect on hover */
    box-shadow: 0 0 30px rgb(97, 226, 149);
    /* Increase the shadow effect on hover */
}

.task {
    flex-grow: 10;
}

.delete-btn {
    background-color: greenyellow;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: green;
}

.footer {
    background-color: rgba(97, 255, 168, 0.864);
    color: black;
    font-family: cursive;
    font-size: x-large;
    font-weight: bold;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: 0;
}